<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="static/css/panels.css">
    <link rel="stylesheet" href="static/css/bot.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
    <script src="static/js/char.js"></script>
    <script src="static/js/stocksList.js"></script>
    <script src="static/js/bot.js"></script>
</head>
<body>
    <div class="container">
        <aside class="left-list">
            <h2 style="text-align: center;">Cześć {{name}}!</h2>
            <ul align="center" id="stocks-list">

            </ul>
            <center>
              <input type="text" name="tag" id="tag" />
              <button onclick="run()">Pobierz</button>
              <button onclick="addToFav()">Dodaj do ulubionych</button><br/>
              <a href="logout">Wyloguj się</a>
            </center>
        </aside>
        <main class="right-panels">
            <div class="panel panel-top">
                <span id="title"></span>
                <canvas id="myChart"></canvas>
            </div>
            <div class="panel panel-bottom">
                <h3 id="bot_title"></h3>
                <span>
                    <button class="bot_button" onclick='notes()'>Notatki o firmie</button>
                    <button class="bot_button" onclick="info()">Informacje o firmie</button>
                    <button class="bot_button" onclick="news()">Wiadomości</button>
                    <div id="cont">

                    </div>
                </span>
            </div>
        </main>
    </div>
</body>
</html>
